<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Meu Cartão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="cartao-container">
    <div class="cartao">
      <img src="assets/img/perfil.JPEG" alt="Foto de perfil" class="foto-perfil">
      <h2>Gabriel Oliveira de Souza</h2>
      <p><strong>GitHub:</strong> <a href="https://github.com/gabrsouzaa" target="_blank"> https://github.com/gabrsouzaa</a></p>
      <p><strong>Curso:</strong> Análise e Desenvolvimento de Sistemas</p>
      <p><strong>Turma:</strong> ADS0301M</p>
      <p><strong>Matrícula:</strong> 24101138</p>
    </div>
  </div>
</ion-content>
